.home_input_p .form-control {
    border-radius: 0.3rem;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: relative;
    border:1px solid black;
}
.home_input_p .form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #ced4da;
    outline: 0;
    box-shadow: none;
    border:1px solid black;
}
.banner_section .lerner{
color:#454545;
}
.banner_section .h5{
    color:#454545;
    font-weight: 600;
    font-family:arial;
    }
.home_input_p p{
    color: #3C4852;
  }
  @media(max-width:767px){
    .hero-content-left{
        text-align: center;
    }
    .hero-content-left .w-75{
width:100%;
    }
    .from_number{
        justify-content: center;
    }
  }
